{% extends 'app.html' %}

{% load static %}

{% block content %}
<h2>Familiares</h2>

<section>
    <div class="wrapper">
        {% for familiar in familiares %}
        <div class="card">
            <div>
                <p class="card_nombre">{{ familiar.getNombreCompleto }}</p>
                <p class="card_fecha">{{ familiar.fec_nacimiento }}</p>
                <hr>
                <button><a href="{% url 'show' id=familiar.id %}">Ver más...</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
