<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django MVT | Entregable 01</title>
</head>
<body>
<h2>Familiares</h2>
<ul>
    {% for familiar in familiares %}
    <li>
        {{ familiar.getNombreCompleto }}
        {{ familiar.fec_nacimiento }}
        {{ familiar.fec_numero }}
    </li>
    {% endfor %}
</ul>
</body>
</html>
